{% extends 'pdf/layout_print_a4.html' %}

{% block content %}
<style>
.box01{
    width: 100% !important;
    height: auto;
    background: white;
    color: black;
    display: flex;
    align-items: flex-end;
}

.box02{
    width: 50%;
    height: auto;
    padding: 10px;
    border: 1px solid #DFE2E3;
    border-radius: 20px;
    margin-right: 20px;
}

.box03{
    width: 50%;
    height: auto;
    padding: 10px;
    border: 1px solid #DFE2E3;
    border-radius: 20px;
}

.box04{
    width: 100% !important;
    height: auto;
    background: white;
    color: black;
    display: flex;
    border: 1px solid #DFE2E3;
    border-radius: 20px;
    margin-top: 10px;
}

.box05{
    width: 70%;
    height: auto;
    padding: 10px;
}

.box06{
    width: 30%;
    height: auto;
    padding: 10px;
}

.form-company {
    text-align: right;
    font-size: 10px;
}

.form-invoice {
    text-align: right;
    font-size: 10px;
}

</style>
<div class="box01">
    <div class="box02">
        <div style="text-align: center; margin-bottom: 10px">
           {% if logo_base64 %}
             <img style="width: 300px;" src="data:image/png;base64,{{ logo_base64 }}" alt=" " />
           {% else %}
               {{ bill.company_name }}
           {% endif %}
        </div>
        <div>
            {{ bill.company_name }}
            <div>
                <span class="form-company" style="font-weight: bold;">Dirección Matriz:</span>
                <span class="form-company">{{ bill.main_address }}</span>
            </div>
            <div>
                <span class="form-company" style="font-weight: bold;">Dirección Sucursal:</span>
                <span class="form-company">{{ bill.company_address }}</span>
            </div>
            <div>
                <span class="form-company" style="font-weight: bold;">Teléfono:</span>
                <span class="form-company">{{ bill.company_phone }}</span>
            </div>
<!--            <div style="margin-top: 5px">-->
<!--                 REGIMEN GENERAL-->
<!--            </div>-->
            <div>
                <span class="form-company" style="font-weight: bold;">Obligado a llevar contabilidad:</span>
                <span class="form-company">
                    {% if bill.company_obligado_contabilidad %}
                        SI
                    {% else %}
                        NO
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    <div class="box03">
        <div style="margin-top: 5px;">
            <span class="form-invoice" style="font-weight: bold;">RUC:</span>
            <span class="form-invoice">{{ bill.company_ruc }}</span>
        </div>
        <div style="margin-top: 10px;">
            <span class="form-invoice" style="font-weight: bold; font-size: 18px;">FACTURA:</span>
        </div>
        <div style="margin-top: 5px;">
            <span class="form-invoice"><span style="font-weight: bold;">No:</span> {{ bill.establishment }}-{{ bill.point_emission}}-{{ bill.sequential }}</span>
        </div>
        <div style="margin-top: 10px; font-size: 10px; font-weight: bold;">
            NÚMERO AUTORIZACIÓN
        </div>
        <div style="margin-top: 5px; font-size: 10px">
            {{ bill.get_access_key() }}
        </div>
        <div style="margin-top: 10px; font-size: 10px; font-weight: bold;">
            FECHA AUTORIZACIÓN
        </div>
        <div style="margin-top: 5px; font-size: 10px;">
            {{ authorization_date }}
        </div>
        <div style="margin-top: 10px;">
            <span class="form-invoice" style="font-weight: bold;">AMBIENTE:</span>
            <span class="form-invoice">
                {% if bill.environment.value == "1"%} PRUEBAS {%else%} PRODUCCION {% endif %}
        </div>
        <div style="margin-top: 10px;">
            <span class="form-invoice" style="font-weight: bold;">EMISIÓN:</span>
            <span class="form-invoice">{% if bill.emission_type.value == "1"%}NORMAL{% endif %}</span>
        </div>
        <div style="margin-top: 10px;">
            <span style="font-size: 10px">CLAVE DE ACCESO:</span>
            <img src="data:image/png;base64,{{ bill.get_barcode_image()}}"
                 alt="barcode"
                 style="width: 325px"
            >
        </div>
    </div>
</div>

<div class="box04">
    <div class="box05">
         <div>
             <span class="form-company" style="font-weight: bold;">Razón Social / Nombres:</span>
             <span class="form-company">{{ bill.customer_billing_name }}</span></div>
        <div>
            <span class="form-company" style="font-weight: bold;">Fecha emisión:</span>
            <span class="form-company">{{ bill.emission_date }}</span>
        </div>
        <div>
            <span class="form-company" style="font-weight: bold;">Dirección:</span>
            <span class="form-company">{{ bill.customer_address }}</span>
        </div>
    </div>
    <div class="box06">
        <div>
            <span class="form-company" style="font-weight: bold;">Identificación:</span>
            <span class="form-company">{{ bill.customer_identification }}</span>
        </div>
{#        <div>#}
{#            <span class="form-company" style="font-weight: bold;">Guia de remisión:</span>#}
{#            <span class="form-company"></span>#}
{#        </div>#}
    </div>
</div>

<div style="margin-top: 10px">
    <table style="padding: 10px; width: 100%; border: #DFE2E3 1px solid; border-radius: 20px">
        <thead style="background-color: #DFE2E3;">
            <tr>
                <td style="text-align: center; font-size: 10px; padding: 5px;">Código principal</td>
                <td style="text-align: center; font-size: 10px; padding: 5px;">Descripción</td>
                <td style="text-align: center; font-size: 10px; padding: 5px;">Cantidad</td>
                <td style="text-align: center; font-size: 10px; padding: 5px;">Precio Unit.</td>
                <td style="text-align: center; font-size: 10px; padding: 5px;">Descuento</td>
                <td style="text-align: center; font-size: 10px; padding: 5px;">Precio Total</td>
            </tr>
        </thead>
        <tbody>
            {% for item in bill.lines_items %}
                <tr>
                    <td style="border-bottom: 1px #DFE2E3 solid; font-size: 10px; text-align: center;">{{ item.code }}</td>
                    <td style="border-bottom: 1px #DFE2E3 solid; font-size: 10px; text-align: center;">{{ item.description }}</td>
                    <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">
                        {{ item.quantity }}
                    </td>
                    <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">
                        {{ item.unit_price }}
                    </td>
                    <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">
                        {{ item.discount  }}
                    </td>
                    <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">
                        {{ item.total_price }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="box01" style="margin-top: 10px">
    <div class="box02" style="width: 55% !important; height: 100%">
        <div>
            <span style="font-size: 10px">INFORMACIÓN ADICIONAL:</span>
            <div style="margin-top: 5px;">
                <span class="form-invoice">Email:</span>
                <span class="form-invoice">{{ bill.customer_email }}</span>
            </div>
            <div style="margin-top: 5px;">
                <span class="form-invoice">Teléfono:</span>
                <span class="form-invoice">{{ bill.customer_phone }}</span>
            </div>
        </div>

<!--        <div style="margin-top: 20px">-->
<!--            <table style="width: 100%">-->
<!--                <thead>-->
<!--                    <tr>-->
<!--                        <td style="font-size: 10px">Forma de pago</td>-->
<!--                        <td style="text-align: center; font-size: 10px">Valor</td>-->
<!--                        <td style="text-align: center; font-size: 10px">Tiempo</td>-->
<!--                        <td style="text-align: center; font-size: 10px">Plazo</td>-->
<!--                    </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                    {% for payment in bill.payments %}-->
<!--                        <tr>-->
<!--                            <td style="font-size: 8px">{% if payment.payment_method == "01" %}{% endif %}</td>-->
<!--                            <td style="text-align: center; font-size: 10px">{{ payment.total }}</td>-->
<!--                            <td style="text-align: center; font-size: 10px">{{ payment.unit_time.value }}</td>-->
<!--                            <td style="text-align: center; font-size: 10px">{{ payment.terms }}</td>-->
<!--                        </tr>-->
<!--                    {% endfor %}-->

<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
    </div>

    <div style="width: 45%;">
        <table style="padding: 10px; width: 100%; border: #DFE2E3 1px solid; border-radius: 20px">
            <tbody>
                <tr>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">SUBTOTAL 12%</td>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">
                          {{ bill.get_subtotal_12() }}
                     </td>
                </tr>
                <tr>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">SUBTOTAL 0%</td>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">
                          {{ bill.get_subtotal_0() }}
                     </td>
                </tr>
                <tr>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">SUBTOTAL NO SUJETO IVA</td>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">
                          {{ bill.get_subtotal_no_tax() }}
                     </td>
                </tr>
                <tr>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">SUBTOTAL SIN IMPUESTOS</td>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">
                          {{ bill.total_without_tax }}
                     </td>
                </tr>
                <tr>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">DESCUENTO</td>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">
                          {{ bill.total_discount }}
                     </td>
                </tr>
                <tr>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">IVA</td>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">
                          {{ bill.get_total_tax() }}
                     </td>
                </tr>
                <tr>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">ICE</td>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">
                          0
                     </td>
                </tr>
                <tr>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">PROPINA</td>
                     <td style="border-bottom: 1px #DFE2E3 solid; text-align: center; font-size: 10px">
                          {{ bill.tips }}
                     </td>
                </tr>
                <tr style="background-color: #DFE2E3;">
                     <td style="text-align: center; font-size: 10px">VALOR TOTAL</td>
                     <td style="text-align: center; font-size: 10px">{{ bill.grand_total }}</td>
                </tr>
            </tbody>
    </table>
    </div>
</div>
{% endblock %}